---
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import lang_ES from '../images/lang-img/lang_ES.png';
import lang_CAT from '../images/lang-img/lang_CAT.png';
import lang_EN from '../images/lang-img/lang_EN.png';
import header_IDEL from '../images/headers-img/IDEL-header-img.png';
---
<Layout title="IDEL">
<!-- Navbar (sit on top) -->
<div class="container">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-10 justify-content-start">
      <a href="/"><Image src={header_IDEL} alt="header_IDEL" width="300" height="65"/></a>
    </div>
    <div class="col-1 col-md-1 col-sm-2 justify-content-center mt-3">
      <div id="main-nav-bar" class="justify-content-center mr-sm-3">
        <Image src={lang_ES} width="25" height="20" alt="Spanish">
          <div>
            <a href="#es"><Image src={lang_ES} width="25" height="20" alt="Spanish"> ES</a>
            <a href="#cat"><Image src={lang_CAT} width="25" height="20" alt="Catalan"> CAT</a>
            <a href="#en"><Image src={lang_EN} width="25" height="20" alt="English"> EN</a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt-5">
  <!-- Project Section -->
  <div id="projects">
    <h3>Proyectos</h3>
  </div>
  <Card></Card>
  <!-- About Section -->
  <div>
    <h3>Sobre nosotros</h3>
    <p>
      Aquí puedes registrarte para participar en los experimentos del Laboratorio de Investigación en Desarrollo, Educación y Lenguaje (I+DELab). Nuestro laboratorio está en el campus de la UIB, en el edificio Guillem Cifre, pero también llevamos a cabo muchos estudios online.
      En esta sección de la web aparecerán los estudios disponibles y solo tendrás que hacer clic para participar.
      ¡Gracias por contribuir al progreso de la ciencia y la educación con nuestro grupo!
    </p>
  </div>
<!-- End page content -->
</div>
<!-- Footer -->
<footer class="container-fluid bg-light">
  <!-- Contact Section -->
  <div class="container row">
    <div id="contact" class="col-10 d-flex flex-column justify-content-center">
      <h3>Contacto</h3>
      <p>Ponte en contacto con nosotros sobre cualquier problema.</p>
      <form action="/" target="_blank">
        <input type="text" placeholder="Nombre" required name="Name">
        <input type="text" placeholder="Email" required name="Email">
        <input type="text" placeholder="Asunto" required name="Subject">
        <input type="text" placeholder="Comentario" required name="Comment">
        <button type="submit">
          <i></i> Enviar
        </button>
      </form>
    </div>
    <div class="col-2 d-flex flex-column justify-content-center">
      <h3>Placeholder</h3>
      <div>
        <p>Caca placeholder</p>
      </div>
    </div>
  </div>
</footer>
</Layout>